<template>
  <div class="home">
    <div class="home_title">微汇款</div>
    <div class="home_desc">腾讯官方跨境汇款平台</div>
    <div v-if="noticeDetail.noticeText" class="notice_box">
      <i class="icon_volume-medium icon"></i>
      <div class="flex_item notice_desc">{{noticeDetail.noticeText}}</div>
      <i class="icon_right_arrow"></i>
    </div>
    <div v-if="entryConfigs.length" class="entry_box">
      <div v-for="item in entryConfigs"
           :key="item.type"
           :class="['entry_type', 'flex_item', item.type]">
        <div class="entry_font">
          <div class="e_title">{{item.title}}<i class="icon_right_arrow"></i></div>
          <div class="e_desc">{{item.desc}}</div>
        </div>
      </div>
    </div>
    <div v-if="problemsList.length" class="problem_box">
      <div class="p_title">常见问题</div>
      <div v-for="item in problemsList"
           :key="item.problem_id"
           class="p_item border_bottom">
        <div class="p_item_desc flex_item">{{item.problem_title}}</div>
        <i class="icon_right_arrow icon"></i>
      </div>
    </div>
  </div>
</template>

<script src="./component.js"></script>

<style lang="scss" scoped>
@import "~styles/_variables";

.home_title{
  line-height: 42px;
  font-size: 36px;
  font-weight: bold;
}

.home_desc{
  margin: 9px 0 20px;
  line-height: 19px;
  font-size: 14px;
  font-weight: 400;
  color: rgba(0,0,0,0.56);
}

.notice_box{
  display: flex;
  align-items: center;
  padding: 26px 0;
  line-height: 16px;
  font-size: 14px;
  color: #212121;
  .icon{
    color: #07C160;
  }
  .notice_desc{
    margin: 0 5px;
  }
  .icon_right_arrow{
    font-size: 14px;
    color: #989A9C;
  }
}

.entry_box{
  padding-bottom: 36px;
  display: flex;
  justify-content: space-between;
  .entry_type{
    height: 240px;
    border-radius: 4px;
    background-size: 100% 100%;
  }
  .global_collection{
    background-image: url('../images/global_collection.png');
    .webp & {
      background-image: url('../images/global_collection.webp');
    }
    .entry_font{
      background-color: #07c160;
    }
  }
  .study_pay{
    margin-left: 10px;
    background-image: url('../images/study_pay.png');
    .webp & {
      background-image: url('../images/study_pay.webp');
    }
    .entry_font{
      background-color: #2b9668;
    }
  }
}

.entry_font{
  padding: 18px 16px;
  border-radius: 4px;
  .e_title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 22px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
  }
  .e_desc{
    margin-top: 5px;
    line-height: 19px;
    font-size: 14px;
    color: #a3e7c4;
  }
}

.problem_box{
  color: #212121;
  .p_title{
    padding: 8px 0;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
  }
  .p_item{
    display: flex;
    align-items: center;
    padding: 16px 0;
    line-height: 22px;
    font-size: 16px;
    .icon{
      margin-left: 5px;
      font-size: 14px;
      color: #989A9C;
    }
  }
}

.flex_item{
  flex: 1;
  min-width: 0;
}
</style>
