@import './_variables';
@import 'fonts/style';

html {
  font-size:14px;
}

html * {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* 滚动条 */
::-webkit-scrollbar {
  width: 6px;
  height:6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: rgba(0, 0, 0, .5)
}

body {
	margin: 0;
	padding: 0;
	font-size: 14px;
	line-height: 1.14;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: $body-color;
	border: 0;
	background-color: #f5f5f5;

	-webkit-font-smoothing: antialiased;
}

/*移动端border*/

.border_all {
	box-shadow: 0 0 0 1px $border-color;
}

.border_bottom,
.border_top,
.border_left,
.border_right {
	position: relative;
}

.border_top:before,
.border_bottom:after,
.border_left:before,
.border_right:after {
	position: absolute;
	z-index: 10;
	content: "";
	background-color: $border-color;
}

.border_top:before,
.border_bottom:after {
	right: 0;
	left: 0;
	height: 1px;
	-webkit-transform: scaleY(.5);
	transform: scaleY(.5);
}

.border_left:before,
.border_right:after {
	top: 0;
	bottom: 0;
	width: 1px;
	-webkit-transform: scaleX(.5);
	transform: scaleX(.5);
}

.border_top:before {
	top: 0;
}

.border_bottom:after {
	bottom: 0;
}

.border_left:before {
	left: 0;
}

.border_right:after {
	right: 0;
}