<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,shrink-to-fit=no,user-scalable=no,maximum-scale=1.0,minimum-scale=1.0,viewport-fit=cover"
    />
    <link rel="icon" href="<%= VUE_APP_BASE_PATH %>favicon.ico">
    <title>微汇款框架</title>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but it doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
