@font-face {
  font-family: 'micro-rem';
  src:  url('fonts/micro-rem.eot?irsr3o');
  src:  url('fonts/micro-rem.eot?irsr3o#iefix') format('embedded-opentype'),
    url('fonts/micro-rem.ttf?irsr3o') format('truetype'),
    url('fonts/micro-rem.woff?irsr3o') format('woff'),
    url('fonts/micro-rem.svg?irsr3o#micro-rem') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'micro-rem' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_personal_manage:before {
  content: "\e900";
}
.icon_remittance_record:before {
  content: "\e902";
}
.icon_right_arrow:before {
  content: "\e903";
}
.icon_home:before {
  content: "\e901";
}
.icon_volume-medium:before {
  content: "\ea27";
}
