@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?irsr3o');
  src:  url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?irsr3o#iefix') format('embedded-opentype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?irsr3o') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?irsr3o') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?irsr3o##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon_"], [class*=" icon_"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon_personal_manage {
  &:before {
    content: $icon_personal_manage; 
  }
}
.icon_remittance_record {
  &:before {
    content: $icon_remittance_record; 
  }
}
.icon_right_arrow {
  &:before {
    content: $icon_right_arrow; 
  }
}
.icon_home {
  &:before {
    content: $icon_home; 
  }
}
.icon_volume-medium {
  &:before {
    content: $icon_volume-medium; 
  }
}

