$icomoon-font-family: "micro-rem" !default;
$icomoon-font-path: "fonts" !default;

$icon_personal_manage: "\e900";
$icon_remittance_record: "\e902";
$icon_right_arrow: "\e903";
$icon_home: "\e901";
$icon_volume-medium: "\ea27";

