<template>
  <div class="outline_layout">
    <router-view class="page_content" />
    <div class="footer_box border_top">
      <router-link to="/" :class="['nav_item', selectTab === 0 ? 'active' : '']">
        <i class="icon_home icon"></i>
        <div class="nav_desc">首页</div>
      </router-link>
      <div class="nav_item recode_item">
        <i class="icon_remittance_record icon"></i>
        <div class="nav_desc">收汇款记录</div>
        <div v-if="orderCollextionNum" class="order_notice">
          <div class="notice">有{{orderCollextionNum}}笔订单待收款</div>
        </div>
      </div>
      <router-link to="/user/main" :class="['nav_item', selectTab === 2 ? 'active' : '']">
        <i class="icon_personal_manage icon"></i>
        <div class="nav_desc">个人管理</div>
      </router-link>
    </div>
  </div>
</template>

<script>
import { getOrderCollections } from '@/services/user.js'

export default {
  data() {
    return {
      orderCollextionNum: 0,
      selectTab: 0
    }
  },
  watch: {
    '$route' (newValue) {
      if (/user/.test(newValue.path)) {
        this.selectTab = 2
      } else {
        this.selectTab = 0
      }
    }
  },
  created() {
    if (/user/.test(this.$route.path)) {
      this.selectTab = 2
    }
    this.getCollectionNum()
  },
  methods: {
    getCollectionNum() {
      getOrderCollections().then(res => {
        if (res.data && res.data.collection_num) {
          this.orderCollextionNum = res.data.collection_num
        }
      })
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~styles/_mixins.scss';

.page_content{
  box-sizing: border-box;
  min-height: 100vh;
  padding: 16px 16px 100px;
  @include iphoneX(padding-bottom, 100px);
  background-color: #fff;
}

.footer_box{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 14px 50px 28px;
  @include iphoneX(padding-bottom, 28px);
  background-color: #fff;
  .nav_item{
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
    color: rgba(0,0,0,0.56);
    .icon{
      font-size: 24px;
    }
    .nav_desc{
      margin-top: 4px;
      line-height: 13px;
      font-size: 10px;
    }
  }
  .active{
    color:  #07C160;
  }
}

.recode_item{
  position: relative;
  .order_notice{
    position: absolute;
    bottom: 45px;
    left: -33px;
    z-index: 11;
    padding-bottom: 5px;
    border-radius: 4px;
    .notice{
      position: relative;
      padding: 8px 12px;
      width: 126px;
      box-sizing: border-box;
      line-height: 16px;
      font-size: 12px;
      border-radius: 4px;
      color: #fff;
      background-color: #333333;
      &:after{
        content: ' ';
        position: absolute;
        right: 58px;
        bottom: -5px;
        width:0;
        height:0;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-top: 5px solid #333333;
      }
    }
  }
}
</style>
