<template>
  <div class="user_page">
    <div class="title">用户身份切换（灰度测试）</div>
    <div class="radio_box flex_align_center">
      <label>用户身份：</label>
      <label class="radio_item flex_align_center">
        <input type="radio"
               value="a"
               v-model="radioVal"
               @change="onSelectUserType"
               class="input_radio">a</label>
      <label class="radio_item flex_align_center">
        <input type="radio"
               value="b"
               v-model="radioVal"
               @change="onSelectUserType"
               class="input_radio">b</label>
    </div>
    <div class="desc">a 用户只能看到“全球汇款”入口, b 用户能看到所有操作入口。</div>
  </div>
</template>

<script src="./component.js"></script>

<style lang="scss" scoped>
.title{
  line-height: 22px;
  font-size: 16px;
  font-weight: bold;
  color: #212121;
}

.radio_box{
  margin-top: 8px;
  line-height: 22px;
  font-size: 16px;
  .radio_item{
    margin-left: 10px;
    .input_radio{
      margin: 0 8px 0 0;
    }
  }
}

.desc{
  margin-top: 8px;
  line-height: 14px;
  font-size: 12px;
  color: #666;
}

flex_align_center{
  display: flex;
  align-items: center;
}
</style>
